/** IMPORTING FONTS */

:root {
  --accent: #161f2d;
  --font: 'Abel';
  --section-height: 670px;
  --secondary-accent: #69d4ff;
  --color-warning: rgb(221, 83, 83);
  --color-success: #49cc7b;
}

@font-face {
  font-family: 'Abel';
  src: url(/assets/fonts/abel-regular.ttf);
}

/** ESSENTIALS */

*::selection {
  background-color: var(--secondary-accent);
  color: var(--accent);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  margin: 0;
}

div,
div *,
span,
h1,
h2,
h3,
h4,
h5,
h6,
abbr,
button,
button *,
p,
a {
  font-family: var(--font);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}

a {
  color: white;
  text-decoration: underline 2px white;
}

a:hover {
  color: var(--secondary-accent);
  text-decoration: none;
}

.fa-item {
  opacity: 0;
  transform: translateX(-10%);
  transition: 500ms ease;
  transition-property: opacity, transform;
}

.fa-item.scroll {
  opacity: 1;
  transform: translateX(0);
}

.section {
  height: var(--section-height);
  width: 100vw;
  position: absolute;
  left: 0;
}

.section:nth-child(2n + 1) {
  background-color: var(--accent);
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.section-btns {
  font-size: 1.2rem;
  background-color: transparent;
  padding: .5em 1em;
  cursor: pointer;
  transition: 250ms ease;
  border-radius: .2em;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%) !important;
}

/** Starting Section Styles */

.section__intro {
  top: 0;
}

.start__header {
  color: white;
}

img.big__portrait {
  height: 25rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  outline: white solid 2px;
  outline-offset: .5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  cursor: pointer;
  transition: 100ms ease;
  transition-property: filter, outline-offset;
}

img.big__portrait:hover,
img.big__portrait:focus {
  outline-offset: 2px;
  filter: brightness(1.2);
}

button.text__copyIP {
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

button.text__copyIP:hover,
button.text__copyIP:focus {
  background-color: white;
  color: var(--accent);
}

@media (max-width: 460px) {
  img.big__portrait {
    width: 90%;
    top: 53%;
  }
}

/** INFO Section Styles */

.section__info {
  top: var(--section-height);
}

.info__header {
  color: var(--accent);
}

.info__aboutUs {
  text-align: center;
  font-size: 125%;
}

.btns-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  gap: .5rem;
}

.btns-about {
  background-color: transparent;
  border: solid 1px var(--accent);
  color: var(--accent);
  font-size: 1.2rem;
  background-color: transparent;
  padding: .5em 1em;
  cursor: pointer;
  transition: 250ms ease;
  border-radius: .2em;
}

.btns-about:hover,
.btns-about:focus {
  background-color: var(--accent);
  color: white;
}

.more-text {
  margin-left: 1.5rem;
}

.owners-list {
  font-size: 1.2rem;
}

.owners-list li {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 10rem;
}

.owner-name:hover span.tag {
  color: inherit;
}

span.tag {
  color: gray;
}

.copy-owner-tag {
  cursor: pointer;
  padding: .2rem .55rem;
  background-color: transparent;
  border: solid 1px var(--accent);
  border-radius: .1rem;
  transition: 250ms ease;
  color: var(--accent);
  transition-property: background-color, color;
}

.copy-owner-tag:hover,
.copy-owner-tag:focus {
  background-color: var(--accent);
  color: white;
}

.discord-icon {
  border-radius: 50%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%) rotate(15deg);
  right: 10%;
  height: 20rem;
  aspect-ratio: 1;
}

.mc-icon {
  border-radius: 50%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%) rotate(-15deg);
  right: calc(10% + calc(20rem / 2));
  height: 20rem;
  aspect-ratio: 1;
}

@media (max-height: 590px) {
  .imgs {
    transform: scale(0);
  }
}

@media (max-width: 1190px) {
  .imgs {
    transform: scale(0);
  }
}

/** Server Status Section Styles */

.section__status {
  top: calc(var(--section-height) * 2);
}

.status__header {
  color: white;
}

.status-box {
  background-color: white;
  height: 65%;
  aspect-ratio: .85;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 .5rem white;
  text-align: center;
}

.status-box .status-pulse {
  height: 40%;
  aspect-ratio: 1;
  background-color: var(--color-warning);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  z-index: 19;
}

.pulse {
  height: 125%;
  width: 125%;
  position: absolute;
  background-color: var(--color-warning);
  top: -12.5%;
  left: -12.5%;
  z-index: 20;
  border-radius: 50%;
  animation: zoomIn 1250ms ease 0ms infinite forwards;
}

.status-box .status-pulse.online {
  background-color: var(--color-success);
}

.status-box .status-pulse.online .pulse {
  background-color: var(--color-success);
}

.status-box h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.players-online {
  position: absolute;
  bottom: 25%;
  left: 1rem;
  font-size: 1.3rem;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
    transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
    transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.small-link {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
}

.status-show {
  font-size: 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.more-info {
  position: absolute;
  top: 70%;
  left: 1rem;
  text-align: left;
}

.info {
  font-size: 1.35rem;
}

.info-players::before {
  content: 'Players Online: ';
}

.info-version::before {
  content: 'Version: ';
}

.info-port::before {
  content: 'Port: ';
}

/** Contact Section Styles */

.section.section__contact {
  top: calc(var(--section-height) * 3);
}

.text__contact {
  text-align: center;
  font-size: 1.2rem;
}

.contact__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3rem;
}

.contact-form {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: repeat(auto, 1fr);
  background-color: var(--accent);
  padding: 1.75rem;
  padding-bottom: 3rem;
  width: 75%;
}

.contact-form .form__name {
  padding: .75rem;
  font-size: 1.1rem;
  caret-color: var(--accent);
  color: var(--accent);
  max-width: 100%;
  border: solid 3px var(--accent);
  border-radius: .2rem;
  outline: none;
}

.contact-form .form__message {
  font-size: 1.1rem;
  caret-color: var(--accent);
  color: var(--accent);
  resize: none;
  height: 10rem !important;
  padding: 1rem 2rem 1rem 1rem;
  border: solid 3px var(--accent);
  outline: none;
}

.contact-form .form__submit {
  --initial-width: 100vw;
  background-color: var(--accent);
  color: white;
  border: solid 2px white;
  padding: .75em 1.25em;
  cursor: pointer;
  outline: none;
  border-radius: .2rem;
  transition: 500ms ease;
  transition-property: color, background-color;
  box-shadow: inset 0 0 0 0 white;
}

.contact-form .form__submit:hover,
.contact-form .form__submit:focus {
  background-color: white;
  color: var(--accent);
}

/** Footer Styles */

.section__footer {
  top: calc(var(--section-height) * 4);
}

.footer__header {
  color: white;
}

.section__footer .favicon {
  height: 20%;
  aspect-ratio: 1;
  position: absolute;
  top: 6.3rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: .3rem;
  outline: white solid 2px;
  outline-offset: 4px;
  transition: 100ms ease;
  transition-property: outline-offset, filter;
  cursor: pointer;
}

.section__footer .favicon:hover,
.section__footer .favicon:focus {
  outline-offset: 2px;
  filter: brightness(1.2);
}

.footer__text {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: 15rem !important;
  margin: .5rem;
}

.copyright-text {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
}

/** Notification Styles */

#notification-area {
  position: fixed;
  bottom: 1rem;
  right: 10px;
  width: 250px;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#notification-area .notification {
  position: relative;
  padding: 0.875rem 1.75rem;
  background: var(--accent);
  color: #f5f5f5;
  font-size: 1rem;
  border-radius: 0.5rem 0.5rem .5rem 0;
  margin: 0.5rem 0;
  opacity: 0;
  left: 2rem;
  animation: showNotification 500ms forwards alternate;
  text-align: left;
}

.notification.contextMenu {
  width: 30ch;
  left: -4.25rem !important;
  animation: showNotification 500ms forwards alternate;
}

.notif.notif-timer {
  position: absolute;
  bottom: 0;
  border-radius: .5rem;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, .25);

  animation: notf-timer 5000ms ease-in-out forwards;
}

@keyframes showNotification {
  to {
    opacity: 1;
    left: 0px;
  }
}

@keyframes notf-timer {
  to {
    width: 0;
  }
}

#notification-area .notification.success {
  background: var(--color-success);
}

#notification-area .notification.error {
  background: var(--color-warning);
}

#notification-area .notification.info {
  background: var(--secondary-accent);
}

.notification::selection {
  background: var(--accent);
  color: white;
}

.cross {
  position: absolute;
  top: .5rem;
  right: .5rem;
  height: 1rem;
  width: 1rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.cross span:first-of-type {
  position: absolute;
  top: .5rem;
  right: 0;
  height: .15rem;
  width: 100%;
  background-color: white;
  transform: rotate(45deg);
}

.cross span:last-of-type {
  position: absolute;
  top: .5rem;
  right: 0;
  height: .15rem;
  width: 100%;
  background-color: white;
  transform: rotate(-45deg);
}